.emtpy1 {
    color: rgba(87, 84, 84, .8);
    border: 2px solid rgba(128, 128, 128, 0.1);
    margin: 50px;
    border-radius: 5px;
    line-height: 25px;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;

    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}